doctype html
html
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title= `${title}`
link(rel="stylesheet", href="../bootstrap/css/bs/bootstrap.min.css")
link(rel="stylesheet", href="../fonts/font-awesome.min.css")
link(rel="stylesheet", href="../styles/Sidebar-Menu-1.css")
//- link(rel="stylesheet", href="../styles/Sidebar-Menu.css")
//- link(rel="stylesheet", href="../assets/css/styles.css")
div
#wrapper
  #sidebar-wrapper(style="background-color: #78AB45;")
    ul.sidebar-nav
      li.sidebar-brand
        a(href="#", style="background-color: rgba(255,255,255,0);color: rgb(0,0,0);font-size: 34px;") Ufarm
      li
        a(href="#", style="color: blue;") Farmer One(FO)
      li
        a(href="/farmerOneReg", style="color: blue;")  Upload produce(UF)
      li
        a(href="#", style="color: blue; font-weight: 3px ") Urban Farmers (UF)
        a(href="#", style="color: blue;") Prod
        a(href="#", style="color: blue;") Prod
  .page-content-wrapper
      a.btn.btn-link#menu-toggle(role="button", href="#menu-toggle")
        i.fa.fa-bars
      .container-fluid
        .col-md-12
          div
        .col
          .card
            .card-body

                header.card-header
                    h4.card-title Welcome 
                |&nbsp
                div.form-row
                    div.col.form-group.col-md-10    
                        form.search(action='/pUploadList')
                            div.form-row
                                div.col-md-4
                                    input.form-control(name='ward' placeholder="Enter your search term(ward) ...")
                                div.col-md-3
                                    input.btn.btn-dark.btn-block(type="submit")
                table.table.table-striped.table-responsive
                    thead.bg-secondary
                        tr
                            th UniqueID
                            th ProduceName
                            th DateOfUpload
                            th Phone
                            th Address
                            th MOdeOfDelivery
                            th Ward
                            th UnitPrice
                            th Quantity
                            th ProduceType
                            th MethodPayment
                            th Activities
                            th ProductImage
                            th Status
                            th Action
                            th 
                            th 

                    tbody
                        if items.length
                        each item in items
                            tr
                                td #{item.id}
                                td #{item.produceName}
                                td #{item.dateOfUpload}
                                td #{item.phone}
                                td #{item.address}
                                td #{item.modeOfDelivery}
                                td #{item.ward}
                                td #{item.unitPrice}
                                td #{item.quantity}
                                td #{item.produceType}
                                td #{item.mPayment}
                                //- td #{item.activities}
                                //- td #{item.image}
                                //- td #{item.Status}
                                td
                                    a(href='/verify/'+item._id) Update


                                td 
                                  img(src='/uploads/'+item.image height='60px' width='600px')
                                td
                                    a(href='/prodUpdate/'+item._id) Update
                                td
                                    form(method="post" action='/delete')
                                        input(type="hidden", placeholder="", name="id", value=item._id)
                                        button.btn.btn-dark.btn-block(type="submit") Delete
                        else
                            p No registrations yet :(
                div.form-row
                    div.col-md-2.offset-12
                        form(method="post" action='/logout') 
                            button.btn.btn-dark.btn-block(type="submit") Log out

script(src="javascripts/jquery.min.js")
script(src="bootstrap/js/bootstrap.min.js")
script(src="javascripts/Sidebar-Menu.js")                            