doctype html
html
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title= `${title}`
link(rel="stylesheet", href="bootstrap/css/bs/bootstrap.min.css")
link(rel="stylesheet", href="fonts/font-awesome.min.css")
link(rel="stylesheet", href="styles/Sidebar-Menu-1.css")
link(rel="stylesheet", href="styles/css/Sidebar-Menu.css")
link(rel="stylesheet", href="assets/css/styles.css")
div
#wrapper
  #sidebar-wrapper(style="background-color: #78AB45;")
    ul.sidebar-nav
      li.sidebar-brand
        a(href="#", style="background-color: rgba(255,255,255,0);color: rgb(0,0,0);font-size: 34px;") Ufarm
      li
        a(href="#", style="color: blue;") Farmer One(FO)
      li
        a(href="/farmerOneReg", style="color: blue;")  Register Urban Farmer(UF)
      li
        a(href="#", style="color: blue;") Urban Farmers (UF)
        a(href="#", style="color: blue;") Prod
        a(href="#", style="color: blue;") Prod
  .page-content-wrapper
      a.btn.btn-link#menu-toggle(role="button", href="#menu-toggle")
        i.fa.fa-bars
      .container-fluid
        .col-md-12
          div
        .col
          .card
            .card-body

                header.card-header
                    h4.card-title Welcome #{currentUser.username}
                |&nbsp
                div.form-row
                    div.col.form-group.col-md-10    
                        form.search(action='/uFarmList')
                            div.form-row
                                div.col-md-4
                                    input.form-control(name='gender' placeholder="Enter your search term(gender) ...")
                                div.col-md-3
                                    input.btn.btn-dark.btn-block(type="submit")
                table.table.table-striped.table-responsive
                    thead.bg-secondary
                        tr
                            th firstName
                            th lastName
                            th userName
                            th Role
                            th Gender
                            th dateOfbirth
                            th nin
                            th Phone
                            th Ward
                            th id
                            th Activities
                            th DateOfReg
                            th
                            th 
                    tbody
                        if users.length
                        each user in users
                            tr
                                td #{user.firstname}
                                td #{user.lastname}
                                td #{user.username}
                                td #{user.role}
                                td #{user.gender}
                                td #{user.dateOfBirth}
                                td #{user.nin}
                                td #{user.phone}
                                td #{user.ward}
                                td #{user.id}
                                td #{user.activities}
                                td #{user.dateOfReg}
                                td
                                td
                                    a(href='/uFarmUpdate/'+user._id) Update
                                td
                                    form(method="post" action='/uFarmDelete')
                                        input(type="hidden", placeholder="", name="id", value=user._id)
                                        button.btn.btn-dark.btn-block(type="submit") Delete
                        else
                            p No registrations yet :(
                div.form-row
                    div.col-md-2.offset-12
                        form(method="post" action='/logout') 
                            button.btn.btn-dark.btn-block(type="submit") Log out

script(src="javascripts/jquery.min.js")
script(src="bootstrap/js/bootstrap.min.js")
script(src="javascripts/Sidebar-Menu.js")                            